:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --border-color: #dbdbdb;

    --header-height: 120px;
    --topnav-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--topnav-height));
}

* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-full {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

.col-2 {
    width: 16.66667%;
}

.col-10 {
    width: 83.33333%;
}

.col-2-5 {
    width: 20%;
}

/* animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
       transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 5px;
    transform-origin: center;
    animation: growth linear 0.1s;
}

.btn {
    min-width: 124px;
    height: 34px;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    padding: 0 12px;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.btn.btn-size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* Selection */

.select-input {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 12px;
    position: relative;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.05);
}


.select-input__label {
    font-size: 1.4rem;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__icon {
    font-size: 1.2rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    border-radius: 2px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    background-color: var(--white-color);
    width: 200px;
    display: none;
    box-shadow: 0 1px 3.125rem rgba(0,0,0, 0.05);
}

.select-input__list::before {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    position: absolute;
    top: -2px;
    right: 0;
}

.select-input__link {
    display: block;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input__item:first-child .select-input__link {
    padding: 20px 16px 10px 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.select-input__item:last-child .select-input__link {
    padding: 10px 16px 20px 16px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}























