/**
 * app
 *  1. Header
 *      1. Navbar
 *      2.
 *  2. Container
 *  3. Footer
 *
 *
 *
 *
 *
 *
 *
 */

.header {
    height: 120px;
    background-image: linear-gradient(0, #ff6633, #f53d2d);
}

.top-nav {
    display: flex;
    justify-content: space-between;
}

.top-nav__list {

    list-style: none;
    padding-left: 0;
}

.top-nav__item {
    margin: 0 6px;
    position: relative;
}

.top-nav__item,
.top-nav__link {
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
}

.top-nav__item:hover,
.top-nav__link:hover {
    color: rgba(255, 255, 255, .6);
}

.top-nav__item--separate::after {
    content: "";
    display: block;
    height: 16px;
    border-left: 1px solid #f96c5c;
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
}

.top-nav__link--strong {
    font-weight: 500;
}

.top-nav__icon {

}



















































































